.flex {
  display: flex;
  justify-content: center;
  .container {
    .content-left {
      padding: 0.5rem;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .content {
      line-height: 2.5rem;
      margin-top: 3rem;
      .body {
        line-height: 2rem;
      }
    }
    .content-right {
      padding: 0.5rem;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .content {
      line-height: 2.5rem;
      margin-top: 3rem;
      .body {
        line-height: 2rem;
      }
    }
  }
}
